body {
    color: white;
    background-color: #77AADD;
    margin: 0px;
}

body#accueil {
    background: linear-gradient(0.25turn, #C2DCFE, #E0EDFF);
    color: #398BDA;
}

.bouton {
    width: 150px;
    height: 30px;
    border-radius: 5px;
    border: solid;
    border-width: 2px;
    border-color: #41baf1;
    margin: 0 auto 20px auto;
    font-weight: bold;
    font-size: 15px;
}

.bouton:hover {
    background: #efefefb4;
}

.logo {
    width: 35px;
    display: block;
    margin-left: auto;
    margin-right: auto
}

.logoAjouter {
    width: 3%;
    display: block;
    float: right;
}

.centre {
    margin: 1px 1px;
    padding: 1px;
    text-align: center;
}

.titrePage {
    font-size: 40px;
    margin: 10px auto auto 10px;
}

.topGauche {
    margin: 10px 50px 20px 0;
    font-size: 30px;
    font-weight: bold;
}

.topDroite {
    margin: 10px 50px 20px 100px;
}


/* Tableau */

th{
    border: 1px solid black;
    padding: 10px;
    text-align: center;
    width: 10%;
    background: linear-gradient(white, #EDF5FC);
    color: black;
}

td {
    border: 1px solid black;
    padding: 10px;
    text-align: center;
    width: 10%;
    background-color: white;
    color: black;
}



/* Formulaire de connexion */

.titreFormulaire {
    text-align: center;
    font-size: 35px;
    color: black;
}

.smallForm {
    margin: 10% auto;
    width: 550px;
    font-weight: 700;
    font-size: 25px;
    background: linear-gradient(#a4e2fa, #8ec7de);
    border: solid;
    border-radius: 5px;
    border-color: black;
    border-width: 3px;
    background: linear-gradient(#7AD3FE, #84E9FE);
}

.case {
    border-radius: 4px;
    border: 1px solid;
    border-color: #2a3449;
    height: 20px;
}


/* Haut de page */

.HP {
    font-size: 45px;
    font-weight: bold;
    color: #569AEE;
    text-align: left;
    background-color: white;
    padding: 1px 20px;
}

.logoHP {
    position: absolute;
    top: 0;
    right: 0;
    margin: 20px 20px;
    width: 150px;
}


/* Placement des elements de la page choix de connexion */

.centrerElement {
    margin-top: 12%;
    display: block;
    text-align: center;
}

.divGauche {
    float: left;
    margin-left: 32%;
    font-size: 40px;
}

.divDroite {
    float: right;
    margin-right: 32%;
    font-size: 40px;
}