body {
    color: white;
    background-color: #77AADD;
    margin: 0px;
}

.bouton {
    width: 150px;
    height: 30px;
    border-radius: 5px;
    border: solid;
    border-width: 2px;
    border-color: #41baf1;
    margin: 0 auto 20px auto;
    font-weight: bold;
    font-size: 15px;
}

.bouton:hover{
    background: #efefefb4;
}

.centre {
    margin: 1px 1px;
    padding: 1px;
    text-align: center;
}

.titre2 {
    font-size: 25px;
    font-weight: bold;
    margin: 30px 50px 20px 0;
}

.topGauche {
    margin: 10px 50px 20px 0;
    font-size: 30px;
    font-weight: bold;
}

.topDroite {
    margin: 10px 50px 20px 100px;
}

td {
    border: 1px solid black;
    padding: 10px;
    text-align: center;
    width: 10%;
}

.bordure {
    border: 1px solid white;
}


/* Formulaire de connexion */

.titreFormulaire{
    text-align: center;
    font-size: 35px;
    color: black;
}

.smallForm {
    margin: 10% auto;
    width: 550px;
    font-weight: 700;
    font-size: 25px;
    background: linear-gradient(#a4e2fa, #8ec7de);
    border: solid;
    border-radius: 7px;
    border-color: black;
    border-width: 2px;
    background: linear-gradient(#7AD3FE, #84E9FE);
}

.case{
    border-radius: 4px;
    border: 1px solid;
    border-color: #2a3449;
    height: 20px;
}


/* Haut de page */

.HP {
    font-size: 45px;
    font-weight: bold;
    color: #569AEE;
    text-align: left;
    background-color: white;
    padding: 1px 20px;
}

.logo {
    position: absolute;
    top: 0;
    right: 0;
    margin: 20px 20px;
    width: 150px;
}


/* Placement des elements de la page choix de connexion */

.centrerElement {
    margin-top: 12%;
    display: block;
    text-align: center;
}

.divGauche {
    float: left;
    margin-left: 32%;
    font-size: 40px;
}

.divDroite {
    float: right;
    margin-right: 32%;
    font-size: 40px;
}